<mat-card class="mat-card-main mat-elevation-z4">
    <mat-card-title>
        <h2>Checout</h2>
    </mat-card-title>
    <mat-card>
        <h2>{{listSelectedFilms.length}} Selected items</h2>
        <h3> Total cost: {{totalPrice}}</h3>
        <mat-card class="mat-card-film" [class.isValid]="disable === true"
        *ngFor="let film of listSelectedFilms">
            <mat-card-content class="mat-card-content">
                <div>
                    <mat-card-title>
                        <h2>{{film.name}}</h2>
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{film.price}}
                    </mat-card-subtitle>
                </div>
                <button mat-flat-button color="warn" (click)="exclude(film)"> 
                    Exclude
                </button>
            </mat-card-content>
        </mat-card>
        <mat-card-actions class="actions-container">
            <button mat-flat-button color="warn" (click)="excludeAll()" [disabled]="disable === true" class="excludeAll">Exclude All</button>
        </mat-card-actions>
        <mat-card class="mat-form"> 
            <form id="form">
                <strong>Fill in the firlds below to payment:</strong>
                <p>
                    <mat-form-field appearance="outline" class="input-form">
                        <mat-label>
                            What's you name?
                        </mat-label>
                        <input matInput placeholder="Your name" required name="name" [disabled]="disable === true"> 
                        <i class="material-icons" matSuffix required>person</i>
                        <mat-hint>Ex.: John,  Mary...</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" class="input-form">
                        <mat-label>
                            What's you address?
                        </mat-label>
                        <input matInput placeholder="Your address" required name="address" [disabled]="disable === true"> 
                        <i class="material-icons" matSuffix required>home</i>
                        <mat-hint>Ex.: Boa Vista Avenue...</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill" class="input-form">
                        <mat-label>
                            Enter your password
                        </mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" required name="password" [disabled]="disable === true"> 
                        <button mat-icon-button matSuffix (click)="hide = !hide" >
                            <i class="material-icons" matSuffix required>{{ hide ? "visibility_off" : "visibility"}}</i>
                        </button>
                        <mat-hint>Ex.: Boa Vista Avenue...</mat-hint>
                    </mat-form-field>
                </p>
                <button type="submit" mat-flat-button class="mat-pay" (click)="payment()" [disabled]="disable === true">Pay</button>
                <button mat-flat-button class="mat-cancel" (click)="cancel()">{{ disable ? "Back" : "Cancel"}}</button>
            </form>
        </mat-card>
    </mat-card>


</mat-card>